<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }

    </style>
</head>
<body>

   <h1>회원 관리 화면</h1>
    <div th:replace="/fragments/layout.html :: fragement-admin-body-menu"></div>

    <hr>
    <br>



    <div class="list">
        <div>
            <form method="post" action="/admin/category/add">
            <input type="text" name="categoryName" required placeholder="카테고리명 입력">
            <button type="submit">추가</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>카테고리명</th>
                    <th>순서</th>
                    <th>사용 여부</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="categories : ${list}">
                <td th:text="${categories.id}">Category Id</td>
                <td th:text="${categories.categoryName}">CategoryName</td>
                <td th:text="${categories.sortValue}">SortValue</td>
                <td>
                    <p th:if="${categories.usingYn}">Y</p>
                    <p th:if="${categories.usingYn eq false}">N</p>
                </td>

            </tr>
            </tbody>
        </table>

</body>
</html>